@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

* {
  transition: background-color 0.6s ease, filter 0.3s ease;
}

input:focus,
textarea:focus {
  @apply border-transparent
}

/* TODO REMOVE GLOBAL STYLE AND MAKE AS TAILWIND COMPONENT */
input[type=button]:active:not(:disabled),
input[type=reset]:active:not(:disabled),
input[type=submit]:active:not(:disabled),
input[type=image]:active:not(:disabled),
button:active:not(:disabled),
a:active:not(:disabled),
input:not([type=button]):not([type=reset]):not([type=submit]):not([type=image]):focus,
textarea:focus,
button:focus-visible,
a:focus-visible {
  @apply ring-2 ring-accent border-transparent outline-none rounded-sm
}
